.container
  .form-wrap
    .row
      .title.animated.fadeInDown{"data-animation" => "fadeInDown", "data-animation-delay" => ".8s", style: "-webkit-animation: 0.8s;"}
        %h1
          = t 'devise.resend_confirm_instructions'
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :зщые }) do |f|
        = devise_error_messages!
        .form-group
          = f.email_field :email, class: 'form-control', placeholder: t('devise.email_label'), required: "required"

        %button#signIn_1.btn.btn-block.signin{type: "submit"}
          = t('devise.resend_confirm_instructions')
      %br
      %br
      %br
      %br
      = render "devise/shared/links"