%h2.title.calibri
  Інформація профілю
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  .row-fluid
    = f.label :email
    = f.email_field :email, :autofocus => true, class: 'span_12'
    %br
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for:
        = resource.unconfirmed_email
      %br
    Пароль
    %i
      Залиште пустим якщо не збираєтесь змінювати
    = f.password_field :password, :autocomplete => "off", class: 'span_12 text_field'
    %br
    Підтвердження пароля
    = f.password_field :password_confirmation, class: 'span_12 text_field'
    %br
    Текучий пароль
    = f.password_field :current_password, class: 'span_12 text_field'
    = f.submit "Зберегти зміни", class: 'btn btn-info'
    = link_to "Назад", :back, class: 'btn'

Cancel my account
%br
Unhappy?
= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete




