= form_for @page_section, :html => { :class => 'form-horizontal' } do |f|
  = @page_section.errors.full_messages
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :language, :class => 'control-label'
    .controls
      = locale_select id: 'lang', name: "admin_page_section[lang]", locales: application_languages
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_page_sections_path, :class => 'btn'