%h2.title.calibri
  Забули пароль ?
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  .row-fluid
    = f.email_field :email, :autofocus => true, placeholder: 'Email', class: 'span_12 text_field'
  %div
    = f.submit "Відправити інструкції по відновленню пароля", class: 'btn btn-info'

= render "devise/shared/links"
