= form_for @order, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :company, :class => 'control-label'
    .controls
      = f.text_field :company, :class => 'text_field'
  .control-group
    = f.label :contact_person, :class => 'control-label'
    .controls
      = f.text_field :contact_person, :class => 'text_field'
  .control-group
    = f.label :address, :class => 'control-label'
    .controls
      = f.text_field :address, :class => 'text_field'
  .control-group
    = f.label :cargo, :class => 'control-label'
    .controls
      = f.text_field :cargo, :class => 'text_field'
  .control-group
    = f.label :from_address, :class => 'control-label'
    .controls
      = f.text_field :from_address, :class => 'text_field'
  .control-group
    = f.label :to_address, :class => 'control-label'
    .controls
      = f.text_field :to_address, :class => 'text_field'
  .control-group
    = f.label :start_date, :class => 'control-label'
    .controls
      #datetimepicker1.input-append.date
        = f.text_field :start_date, 'data-format' => 'dd/MM/yyyy hh:mm:ss', 'type' => 'text', :required=> 'required'
        %span.add-on
          %i{ 'data-time-icon' => 'icon-time', 'data-date-icon' => 'icon-calendar'}
          :javascript
            $(function(){
                $('#datetimepicker1').datetimepicker({
                    language: 'pt-BR'
                });
            });
    .control-group
      .controls
        %br
        = f.simple_captcha :label => "Enter numbers.."
  %div
    = f.submit t('make_order'), :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), orders_path, :class => 'btn'
