.container
  .form-wrap
    .row
      .title.animated.fadeInDown{"data-animation" => "fadeInDown", "data-animation-delay" => ".8s", style: "-webkit-animation: 0.8s;"}
        %h1
          = t('order_form.order')
      = form_for @order, :html => { :class => 'form-horizontal' } do |f|
        .form-main
          .form-group
            = f.text_field :company, class: 'form-control', placeholder: t('order_form.company')
            - if @order.errors[:company].any?
              .error-text
                = @order.errors[:company].join(', ')
                - order_error = "error"
          .form-group
            = f.phone_field :phone, class: 'form-control', placeholder: t('order_form.phone')
            - if @order.errors[:phone].any?
              .error-text
                = @order.errors[:phone].join(', ')
                - order_error = "error"
          .form-group
            = f.text_field :contact_person, class: 'form-control', placeholder: t('order_form.contact_person')
            - if @order.errors[:contact_person].any?
              .error-text
                = @order.errors[:contact_person].join(', ')
                - order_error = "error"
          .form-group
            = f.email_field :email, class: 'form-control', placeholder: t('order_form.email')
            - if @order.errors[:email].any?
              .error-text
                = @order.errors[:email].join(', ')
                - order_error = "error"
          .form-group
            = f.text_area :cargo, class: 'form-control', rows: 4 , placeholder: t('order_form.cargo')
            - if @order.errors[:cargo].any?
              .error-text
                = @order.errors[:cargo].join(', ')
                - order_error = "error"
          .form-group
            = f.text_area :from_address, class: 'form-control', rows: 4 , placeholder: t('order_form.from_address')
            - if @order.errors[:from_address].any?
              .error-text
                = @order.errors[:from_address].join(', ')
                - order_error = "error"
          .form-group
            = f.text_area :to_address, class: 'form-control', rows: 4 , placeholder: t('order_form.to_address')
            - if @order.errors[:to_address].any?
              .error-text
                = @order.errors[:to_address].join(', ')
                - order_error = "error"
          .form-group
            #datetimepicker1.input-append.date
              = f.text_field :start_date, class: "form-control", 'data-format' => 'dd/MM/yyyy hh:mm:ss'
              %span.add-on
                %i{ 'data-time-icon' => 'icon-time', 'data-date-icon' => 'icon-calendar'}
                :javascript
                  $(function(){
                      $('#datetimepicker1').datetimepicker({
                          language: 'pt-BR'
                      });
                  });
            - if @order.errors[:start_date].any?
              .error-text
                = @order.errors[:start_date].join(', ')
                - order_error = "error"
          .form-group
            = f.text_area :additional_info, class: 'form-control', rows: 4 , placeholder: t('order_form.additional_info')
            - if @order.errors[:additional_info].any?
              .error-text
                = @order.errors[:additional_info].join(', ')
                - order_error = "error"
          .form-group
            = f.simple_captcha :label => "Enter numbers.."

          .form-group
            = f.submit t('make_order'), :class => 'btn btn-block signin', id: 'signIn_1'
          .form-group
            = link_to t('devise.back'), orders_path, :class => 'btn btn-block signin', id: 'signIn_1'

