
.section
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12
        %h2
          = t 'order_form.orders'
        = will_paginate @orders, renderer: BootstrapPagination::Rails
        %table.table.table-striped
          %thead
            %tr
              %th= Order.human_attribute_name(:company)
              %th= Order.human_attribute_name(:cargo)
              %th= Order.human_attribute_name(:start_date)
              %th=t '.actions', :default => t("helpers.actions")
          %tbody
            - @orders.each do |order|
              %tr
                %td= link_to order.company, order_path(order)
                %td= order.cargo
                %td= order.start_date
                %td
                  = link_to t('.edit', :default => t("helpers.links.edit")), edit_order_path(order), :class => 'btn btn-mini'
                  = link_to t('.destroy', :default => t("helpers.links.destroy")), order_path(order), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

        = will_paginate @orders, renderer: BootstrapPagination::Rails
        = link_to t('make_order'), new_order_path, :class => 'btn btn-primary'
    / /.row
  / /.container
/ /.section-colored