- model_class = Order
%div{ style: 'width: 100%;' }
  #map_canvas{ style: 'width: 100%; height: 300px;' }
.page-header
  %h1
    = t 'order_form.order'

.row-fluid
  .span3
    .form-label
      = t 'order_form.company'
      = ':'
  .span9
    = @order.company
%br
.row-fluid
  .span3
    .form-label
      = t 'order_form.contact_person'
      = ':'
  .span9
    = @order.contact_person
%br
.row-fluid
  .span3
    .form-label
      = t 'order_form.phone'
      = ':'
  .span9
    = @order.phone
%br
.row-fluid
  .span3
    .form-label
      = t 'order_form.email'
      = ':'
  .span9
    = @order.email
%br
.row-fluid
  .span3
    .form-label
      = t 'order_form.cargo'
      = ':'
  .span9
    = @order.cargo
%br
.row-fluid
  .span3
    .form-label
      = t 'order_form.from_address'
      = ':'
  .span9
    = @order.from_address
%br
.row-fluid
  .span3
    .form-label
      = t 'order_form.to_address'
      = ':'
  .span9
    = @order.to_address
%br
.row-fluid
  .span3
    .form-label
      = t 'order_form.start_date'
      = ':'
  .span9
    = @order.start_date

%div
  = link_to t('.back', :default => t("helpers.links.back")), orders_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_order_path(@order), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), order_path(@order), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'