.section
  .container
    .row
      .col-lg-6.col-md-6.col-sm-6
        #roads-map{ style: 'width: 100%; height: 400px' }
      .col-lg-6.col-md-6.col-sm-6
        %h2
          = t 'tabs.about'
        = about_us_page
    / /.row
  / /.container
/ /.section

.section-colored
  .container
    .row
      .col-lg-6.col-md-6.col-sm-6
        %h2
          = t 'tabs.contact'
        = contact_us_page
      .col-lg-6.col-md-6.col-sm-6
        #base-map{ style: 'width: 100%; height: 400px' }
    / /.row
  / /.container
/ /.section-colored

.section
  .container
    .row
      .col-lg-4.col-md-4
        %h3
          %i.fa.fa-check-circle
          Bootstrap 3 Built
        %p
          The 'Modern Business' website template by
          %a{href: "http://startbootstrap.com"} Start Bootstrap
          is built with
          = succeed "." do
            %a{href: "http://getbootstrap.com"} Bootstrap 3
      .col-lg-4.col-md-4
        %h3
          %i.fa.fa-pencil
          Ready to Style & Edit
        %p
          You're ready to go with this pre-built page structure, now all you need to do is add your own custom stylings! You can see some free themes over at
          = succeed "," do
            %a{href: "http://bootswatch.com"} Bootswatch
          = succeed "!" do
            %a{href: "http://getbootstrap.com/customize/"} the Bootstrap customizer
      .col-lg-4.col-md-4
        %h3
          %i.fa.fa-folder-open
          Many Page Options
        %p This template features many common pages that you might see on a business website. Pages include: about, contact, portfolio variations, blog, pricing, FAQ, 404, services, and general multi-purpose pages.
    / /.row
  / /.container
/ /.section
.section-colored.text-center
  .container
    .row
      .col-lg-12
        %h2 Modern Business: A Clean & Simple Full Website Template by Start Bootstrap
        %p A complete website design featuring various single page templates from Start Bootstraps library of free HTML starter templates.
        %hr/
    / /.row
  / /.container
/ /.section-colored
.section
  .container
    .row
      .col-lg-12.text-center
        %h2 Display Some Work on the Home Page Portfolio
        %hr/
      .col-lg-4.col-md-4.col-sm-6
        %a{href: "portfolio-item.html"}
          %img.img-responsive.img-home-portfolio{src: "http://placehold.it/700x450"}/
      .col-lg-4.col-md-4.col-sm-6
        %a{href: "portfolio-item.html"}
          %img.img-responsive.img-home-portfolio{src: "http://placehold.it/700x450"}/
      .col-lg-4.col-md-4.col-sm-6
        %a{href: "portfolio-item.html"}
          %img.img-responsive.img-home-portfolio{src: "http://placehold.it/700x450"}/
      .col-lg-4.col-md-4.col-sm-6
        %a{href: "portfolio-item.html"}
          %img.img-responsive.img-home-portfolio{src: "http://placehold.it/700x450"}/
      .col-lg-4.col-md-4.col-sm-6
        %a{href: "portfolio-item.html"}
          %img.img-responsive.img-home-portfolio{src: "http://placehold.it/700x450"}/
      .col-lg-4.col-md-4.col-sm-6
        %a{href: "portfolio-item.html"}
          %img.img-responsive.img-home-portfolio{src: "http://placehold.it/700x450"}/
    / /.row
  / /.container
/ /.section
.container
  .row.well
    .col-lg-8.col-md-8
      %h4 'Modern Business' is a ready-to-use, Bootstrap 3 updated, multi-purpose HTML theme!
      %p For more templates and more page options that you can integrate into this website template, visit Start Bootstrap!
    .col-lg-4.col-md-4
      %a.btn.btn-lg.btn-primary.pull-right{href: "http://startbootstrap.com"} Make Order !!!
  / /.row

/ /.container
