#myCarousel.carousel.slide
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  / Wrapper for slides
  .carousel-inner
    - Admin::GalleryItem.all.each_with_index do |item, i|
      .item{ class: "#{ 'active' if i == 0 }"}
        .fill{ style: "background-image: url(#{ item.image.url })"}
        .carousel-caption
          %h1
            = item.text

  %a.left.carousel-control{"data-slide" => "prev", href: "#myCarousel"}
    %span.icon-prev
  %a.right.carousel-control{"data-slide" => "next", href: "#myCarousel"}
    %span.icon-next

.section
  .container
    .row
      .col-lg-4.col-md-4.col-sm-4
        = image_tag 'logo.png', style: 'width: 100%'
      .col-lg-8.col-md-8.col-sm-8
        %h2
          = t 'tabs.about'
        = about_us_page
    / /.row
  / /.container
/ /.section

.section-colored
  .container
    .row
      .col-lg-6.col-md-6.col-sm-6
        %h2
          = t 'tabs.contact'
        = contact_us_page
      .col-lg-6.col-md-6.col-sm-6
        #base-map{ style: 'width: 100%; height: 150px' }
    / /.row
  / /.container
/ /.section-colored

.section
  .container
    .row
      .col-lg-12.text-center
        %h2
          = t('tabs.partners')
        %hr
      - @partners.each do |partner|
        .col-lg-2.col-md-2.col-sm-3
          %a{ href: "http://#{ partner.link }" }
            = image_tag partner.logo.url(:thumb), class: 'img-responsive img-home-portfolio', style: 'width: 100%'
    / /.row
  / /.container
/ /.section
-#
-#.section-colored
-#  .container
-#    .row
-#      .col-lg-12.text-center
-#        %h2
-#          = t('tabs.team')
-#        %hr
-#      - collaborators_list.each do |collaborator|
-#        .col-lg-3.col-md-3.col-sm-3
-#          = image_tag collaborator.avatar.url(:small), class: 'img-responsive img-home-portfolio', style: 'width: 100%'
-#          %h1
-#            = collaborator.full_name
-#          = collaborator.post
-#          %br
-#          = collaborator.description
-#
-#    / /.row
-#  / /.container
-#/ /.section

.section
  .container
    .row
      .col-lg-12.text-center
        %h2
          = t('tabs.services')
        %hr

      .col-lg-12.text-center
        #accordion.panel-group
          - @sections.each_with_index do |section, i|
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse#{ i }"}
                    = section.name
              .panel-collapse.collapse.out{ id: "collapse#{ i }"}
                .panel-body
                  %ul
                    - section.pages.each do |page|
                      %li
                        = raw page.content


    / /.row
  / /.container
/ /.section