.container
  .form-wrap
    .row
      .title.animated.fadeInDown{"data-animation" => "fadeInDown", "data-animation-delay" => ".8s", style: "-webkit-animation: 0.8s;"}
        %h1
          = t('devise.enter')
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .form-main
          .form-group
            = f.email_field :email, class: 'form-control', placeholder: "Email", required: "required"
          .form-group
            = f.password_field :password, class: 'form-control', placeholder: "Email", required: "required"

          %button#signIn_1.btn.btn-block.signin{type: "submit"}
            = t('devise.enter')
      %br
      %br
      %br
      %br
      = render "devise/shared/links"
