- model_class = Admin::GalleryItem
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th
        = model_class.human_attribute_name(:image)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @admin_gallery_items.each do |gallery_item|
      %tr
        %td
          .thumbnail{style: "max-width: 100%; max-height: 500px; line-height: 20px;"}
            = image_tag gallery_item.image.url, style: 'max-width: 200px; max-height: 150px;'
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_gallery_item_path(gallery_item), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_gallery_item_path(gallery_item), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_admin_gallery_item_path, :class => 'btn btn-primary'
