<%- model_class = Admin::AboutAsPage -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th><%= model_class.human_attribute_name(:lang) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @admin_about_as_pages.each do |about_as_page| %>
      <tr>
        <td><%= link_to about_as_page.id, admin_about_as_page_path(about_as_page) %></td>
        <td><%= about_as_page.content %></td>
        <td><%= about_as_page.lang %></td>
        <td><%=l about_as_page.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_about_as_page_path(about_as_page), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_about_as_page_path(about_as_page),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if new_about_as_page_needed? %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_about_as_page_path,
            :class => 'btn btn-primary' %>
<% end%>
