= form_for @mailer_settings, url: admin_mailer_settings_update_path, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field span_12'
  .control-group
    = f.label :password, :class => 'control-label'
    .controls
      = f.text_field :password, :class => 'text_field span_12'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
