<%= @admin_collaborator.errors.first%>
<%= form_for @admin_collaborator, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :full_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :full_name, :class => 'span_12 text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :post, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :post, :class => 'span_12 text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'span_12 text_area', rows: 5 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :avatar, :class => 'control-label' %>
    <div class="controls">
      <div class="fileupload fileupload-new" data-provides="fileupload" >
        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;">
          <%= image_tag @admin_collaborator.avatar.url, style: 'max-width: 200px; max-height: 150px;' %>
        </div>
        <div>
          <%= f.file_field :avatar, :class => 'span_12 file_field' %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_collaborators_path, :class => 'btn' %>
  </div>
<% end %>
