%section#dg-container.dg-container
  .dg-wrapper
    %a{ href: "#" }
      = image_tag 'gallery/1.jpg', alt: 'image1'
      %div
        .gallery-text.calibri
          %br
          = t 'gallery.slide1_html'
    %a{ href: "#" }
      = image_tag 'gallery/2.jpg', alt: 'image1'
      %div
        .gallery-text.calibri
          %br
          = t 'gallery.slide2_html'
    %a{ href: "#" }
      = image_tag 'gallery/3.jpg', alt: 'image1'
      %div
        .gallery-text.calibri
          %br
          = t 'gallery.slide3_html'
    %a{ href: "#" }
      = image_tag 'gallery/4.jpg', alt: 'image1'
      %div
        .gallery-text.calibri
          %br
          = t 'gallery.slide4_html'
  -#%nav
  -#  %span.dg-prev
  -#    &lt;
  -#  %span.dg-next
  -#    &gt;
:javascript
  $(function() {
  $('#dg-container').gallery({
  autoplay	:	true,
  interval:  5000
  });
  });