!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Trucking"
    = csrf_meta_tags
    = stylesheet_link_tag    "admin/admin", :media => "all"
    = stylesheet_link_tag    controller_path, :media => "all"
    = javascript_include_tag "admin/admin"
    = javascript_include_tag controller_path
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
  %body
    .navbar.navbar-fluid-top
      %form.navbar-form.pull-right
        %div{style: "margin-top: 9px"}
          = admin_locale_select id: 'countries', locales: application_languages
          \ 
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'babydorych-trans.com.ua', root_path, class: 'brand'
          .container-fluid.nav-collapse
            %ul.nav
              %li{class: "nav #{'active' if params[:controller] == 'admin/collaborators'}"}
                = link_to "Collaborators", admin_collaborators_path
              %li{class: "nav #{'active' if params[:controller] == 'admin/about_us_pages'}"}
                = link_to "About Us", admin_about_us_pages_path
              %li{class: "nav #{'active' if params[:controller] == 'admin/contact_us_pages'}"}
                = link_to "Contact Us", admin_contact_us_pages_path
              %li{class: "nav #{'active' if params[:controller] == 'admin/users'}"}
                = link_to "Users", admin_users_path
              %li{class: "nav #{'active' if params[:controller] == 'admin/partners'}"}
                = link_to "Partners", admin_partners_path
              %li{class: "nav #{'active' if params[:controller] == 'admin/page_sections'}"}
                = link_to "Info Pages", admin_page_sections_path
              %li{class: "nav #{'active' if params[:controller] == 'admin/orders'}"}
                = link_to "Orders", admin_orders_path
              %li{class: "nav #{'active' if params[:controller] == 'admin/gallery_items'}"}
                = link_to "Gallery", admin_gallery_items_path
          / /.nav-collapse
    .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav
            Notifications?
          / /.well
        / /span
        .span9
          = bootstrap_flash
          = yield
      / /row
      %footer
        %p.lf
          Copyright © 2013-2014
          %a{href: "#"} babydorych-trans.com.ua
          \- All Rights Reserved
    / /container