!!!
%html
  %head
    %title
      = t('trucking')
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    = javascript_include_tag "modernizr.custom"
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    controller_path, :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag controller_path
    = csrf_meta_tags
    = stylesheet_link_tag "style"
    = javascript_include_tag "script"
    /[if lt IE 7]
      <haml_loud> javascript_include_tag "ie_png" </haml_loud>
      <script type="text/javascript">ie_png.fix('.png, #header .row-2 ul li a, .extra img, #search-form a, #search-form a em, #login-form .field1 a, #login-form .field1 a em, #login-form .field1 a b');</script>
      <haml_loud> stylesheet_link_tag "ie6" </haml_loud>
    %script{src: "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", type: "text/javascript"}
    %script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript"}
  %body#page2
    - if flash[:message]
      .alert.alert-info
        = flash[:message]
    - if flash[:error]
      .alert.alert-error
        = flash[:error]
    - if flash[:success]
      .alert.alert-info
        = flash[:success]
    #main
      #header
        = image_tag 'logo3.png', style: 'position: absolute; height: 90px; z-index: 1000000'
        .row-1
          .fleft
            %b.title-text{style: "padding-left: 0px; margin-top: 4px"}
              BABYDORYCH-TRANS.COM.UA
          .fright{style: "text-align: right"}
            %ul{ style: 'font-size: 17px'}
              %li
                = link_to raw("<i class='icon-home'></i>"), root_path, title: t('icons.home')
              - if current_user
                %li
                  = link_to raw("<i class='icon-wrench'></i>"), admin_path, title: t('icons.admin') if current_user.admin?
                %li
                  = link_to raw("<i class='icon-user'></i>"), edit_user_registration_path, title: t('icons.profile')
                %li
                  = link_to raw("<i class='icon-shopping-cart'></i>"), orders_path, title: t('icons.orders')
                %li
                  = link_to raw("<i class='icon-off'></i>"), destroy_user_session_path, method: :delete, title: t('icons.logout')
              - else
                %li
                  = link_to raw("<i class='icon-user' alt= `Log in`></i>"), new_user_session_path, title: t('icons.login')
              %li
                = locale_select id: 'countries', locales: application_languages
        .row-2
          .left
            %ul
              %li
                = link_to raw("<span>#{ t 'tabs.home' }</span>"), pages_about_path, class: "#{ "active" if params[:action] == 'home'}"
              %li
                = link_to raw("<span>#{ t 'tabs.services' }</span>"), services_path, class: "#{ "active" if params[:controller] == 'services'}"
              %li
                = link_to raw("<span>#{ t 'tabs.partners' }</span>"), pages_partners_path, class: "#{ "active" if params[:action] == 'partners'}"
              %li
                = link_to raw("<span>#{ t 'make_order' }</span>"), new_order_path, class: "#{ "active" if params[:action] == 'new'}"
              %li
                = link_to raw("<span>#{ t 'tabs.team' }</span>"), pages_team_path, class: "#{ "active" if params[:action] == 'team'}"
              %li.last
                = link_to raw("<span>#{ t 'tabs.contact' }</span>"), pages_contact_path, class: "#{ "active" if params[:action] == 'contact'}"
        .row-3
          .inside
            = render partial: 'layouts/gallery'
      #content
        .row-fluid
          .span3
            = link_to t('make_order'), new_order_path, class: "btn btn-primary btn-large", style: "width: 174px"
            %br
            %br
            = render partial: 'informers/fuel'
            %br
            %br
            = render partial: 'informers/weather'
          .span6
            = yield
          .span3
            -#%h4.calibri
            -#  %b
            -#    = t :news
            = render partial: 'informers/news'
            -#%br
            -#%h4.calibri
            -#  %b
            -#    = t('tabs.partners')
            -#= render partial: 'informers/partners'
      #footer
        .footer-nav
          .left
            %ul
              %li
                = link_to t('tabs.home'), pages_about_path, class: "#{ "active" if params[:action] == 'home'}"
              %li
                = link_to t('tabs.services'), services_path, class: "#{ "active" if params[:controller] == 'services'}"
              %li
                = link_to t('tabs.partners'), pages_partners_path, class: "#{ "active" if params[:action] == 'partners'}"
              %li
                = link_to t('make_order'), new_order_path, class: "#{ "active" if params[:action] == 'new'}"
              %li
                = link_to t('tabs.team'), pages_team_path, class: "#{ "active" if params[:action] == 'team'}"
              %li.last
                = link_to t('tabs.contact'), pages_contact_path, class: "#{ "active" if params[:action] == 'contact'}"
        .footerlink
          %p.lf
            Copyright © 2013-2014
            %a{href: "#"} babydorych-trans.com.ua
            \- All Rights Reserved
          %p.rf
            %i.icon-phone
            +38(0312)65-55-56
            &nbsp;
            %i.icon-envelope
            info@babydorych-trans.com.ua
          %div{style: "clear:both;"}