!!!
%html
  %head
    %title Вантажні перевезення
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    = javascript_include_tag "modernizr.custom"
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    controller_path, :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag controller_path
    = csrf_meta_tags
    = stylesheet_link_tag "style"
    = javascript_include_tag "cufon-yui"
    = javascript_include_tag "cufon-replace"
    = javascript_include_tag "Calibri_400-Calibri_700-Calibri_italic_400-Calibri_italic_700.font"
    = javascript_include_tag "script"
    /[if lt IE 7]
      <haml_loud> javascript_include_tag "ie_png" </haml_loud>
      <script type="text/javascript">ie_png.fix('.png, #header .row-2 ul li a, .extra img, #search-form a, #search-form a em, #login-form .field1 a, #login-form .field1 a em, #login-form .field1 a b');</script>
      <haml_loud> stylesheet_link_tag "ie6" </haml_loud>
    %script{src: "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", type: "text/javascript"}
    %script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript"}
  %body#page2
    - if flash[:message]
      .alert.alert-info
        = flash[:message]
    - if flash[:error]
      .alert.alert-error
        = flash[:error]
    - if flash[:success]
      .alert.alert-info
        = flash[:success]
    #main
      #header
        .row-1
          .fleft
            %h2
              %b{style: "padding-left: 0px; margin-top: 4px"} BABYDORYCH-TRANS.COM.UA
          .fright{style: "text-align: right"}
            %h5
              %ul
                %li= link_to raw("<i class='icon-home'></i>"), root_path
                %li= link_to raw("<i class='icon-wrench'></i>"), admin_path
                - if current_user
                  %li= link_to raw("<i class='icon-user'></i>"), edit_user_registration_path
                  %li= link_to raw("<i class='icon-file'></i>"), orders_path
                  %li= link_to raw("<i class='icon-remove-circle'></i>"), destroy_user_session_path, method: :delete
                - else
                  %li= link_to raw("<i class='icon-share'></i>"), new_user_session_path
                %li
                  = locale_select id: 'countries', locales: application_languages
        .row-2
          .left
            %ul
              %li= link_to raw("<span>#{ t 'tabs.home' }</span>"), pages_about_path, class: "#{ "active" if params[:action] == 'about'}"
              %li= link_to raw("<span>#{ t 'tabs.contact' }</span>"), pages_contact_path, class: "#{ "active" if params[:action] == 'contact'}"
              %li= link_to raw("<span>#{ t 'tabs.team' }</span>"), pages_team_path, class: "#{ "active" if params[:action] == 'team'}"
              %li= link_to raw("<span>#{ t 'tabs.partners' }</span>"), pages_partners_path, class: "#{ "active" if params[:action] == 'partners'}"
              %li.last= link_to raw("<span>#{ t 'tabs.services' }</span>"), services_path, class: "#{ "active" if params[:controller] == 'services'}"
        .row-3
          .inside
            = render partial: 'layouts/gallery'
      #content
        .row-fluid
          .span3
            = link_to "Create Order", new_order_path, class: "btn btn-info btn-large", style: "width: 174px"
            %br
            %br
            %a{href: "http://avtoprom.ua", style: "border:0", title: "Автобазар"}
              %img{ style: 'width: 217px', alt: "Автобазар", src: "http://avtoprom.ua/images/informers/benzin/200x200.png", style: "border:0"}
            / weather widget start
            %br
            %br
            #SinoptikInformer.SinoptikInformer.type2{style: "width:217px;"}
              .siHeader
                .siLh
                  .siMh
                    %a{href: "http://ua.sinoptik.ua/", onmousedown: "siClickCount();", target: "_blank"} Погода
                    %a.siLogo{href: "http://ua.sinoptik.ua/", onmousedown: "siClickCount();", target: "_blank"}
                      %img{src: "http://informers.sinoptik.ua/img/t.gif"}/
              .siBody
                .siTitle
                  %span#siHeader
                .siCity
                  .siCityName
                    %a{href: "http://ua.sinoptik.ua/погода-київ", onmousedown: "siClickCount();", target: "_blank"}
                      Погода у
                      %span Києві
                  #siCont0.siBodyContent
                    .siLeft
                      .siTerm
                      #siT0.siT
                      #weatherIco0
                    .siInf
                      %p
                        вологість:
                        %span#vl0
                      %p
                        тиск:
                        %span#dav0
                      %p
                        вітер:
                        %span#wind0
                .siCity
                  .siCityName
                    %a{href: "http://ua.sinoptik.ua/погода-ужгород", onmousedown: "siClickCount();", target: "_blank"}
                      Погода в
                      %span Ужгороді
                  #siCont1.siBodyContent
                    .siLeft
                      .siTerm
                      #siT1.siT
                      #weatherIco1
                    .siInf
                      %p
                        вологість:
                        %span#vl1
                      %p
                        тиск:
                        %span#dav1
                      %p
                        вітер:
                        %span#wind1
                .siLinks
                  %span
                    %a{href: "http://ua.sinoptik.ua/погода-запоріжжя", onmousedown: "siClickCount();", target: "_blank"}> Погода у Запоріжжі
                     
                  %span
                    %a{href: "http://ua.sinoptik.ua/погода-вінниця", onmousedown: "siClickCount();", target: "_blank"}> Погода у Вінниці
                     
              .siFooter
                .siLf
                  .siMf
            %script{charset: "UTF-8", src: "http://informers.sinoptik.ua/js3.php?title=3&wind=3&cities=303010783,303027343&lang=ua", type: "text/javascript"}
          .span6
            = yield
          .span3
            %h4.calibri
              %b Новини
            .weeklynewsmain
              %span.weeklynews
              %script{src: "http://vesti-online.ru/informer.htm?theme=autonews&num=3&width=217&css=&font=Arial&bgcolor=&bsize=0&bcol=DDDDDD&tcol=1f7dd2&tsize=16&lcol=1f7dd2&lsize=13&dcol=333333&dsize=12&img=1&desc=1", type: "text/javascript"}
              %a.weeklynewsm{href: "http://vesti-online.ru/news/facts/906.html", target: "_blank"}
                Вести Онлайн
      #footer
        .footer-nav
          .left
            %ul
              %li= link_to t('tabs.home'), pages_about_path
              %li= link_to t('tabs.contact'), pages_contact_path
              %li= link_to t('tabs.team'), pages_team_path
              %li= link_to t('tabs.partners'), pages_partners_path
              %li.last= link_to t('tabs.services'), services_path
        .footerlink
          %p.lf
            Copyright © 2013-2014
            %a{href: "#"} babydorych-trans.com.ua
            \- All Rights Reserved
          %div{style: "clear:both;"}
      :javascript
        Cufon.now();