<!DOCTYPE html>
<html>
<head>
  <title>Вантажні перевезення</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= javascript_include_tag "modernizr.custom" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    controller_path, :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag controller_path %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "cufon-yui" %>
  <%= javascript_include_tag "cufon-replace" %>
  <%= javascript_include_tag "Calibri_400-Calibri_700-Calibri_italic_400-Calibri_italic_700.font" %>
  <%= javascript_include_tag "script" %>
  <!--[if lt IE 7]>
  <%= javascript_include_tag "ie_png" %>
  <script type="text/javascript">ie_png.fix('.png, #header .row-2 ul li a, .extra img, #search-form a, #search-form a em, #login-form .field1 a, #login-form .field1 a em, #login-form .field1 a b');</script>
  <%= stylesheet_link_tag "ie6" %>
  <![endif]-->
</head>

<body id="page2">
<div id="main">
  <div id="header">
    <div class="row-1">
      <div class="fleft">
        <h2><b style="padding-left: 0px; margin-top: 4px">BABYDORYCH-TRANS.COM.UA</b></h2>
      </div>
      <div class="fright">
        <ul>
          <li><%= link_to image_tag('icon1.gif', alt: ''), root_path %></li>
          <li><a href="#"><%= image_tag 'icon2.gif', alt: ''%></a></li>
          <li><%= link_to image_tag('icon3.gif', alt: ''), admin_path %></li>
        </ul>
      </div>
    </div>
    <div class="row-2">
      <div class="left">
        <ul>
          <li><%= link_to raw('<span>Головна</span>'), pages_about_path, class: "#{ "active" if params[:controller] == 'pages' && params[:action] == 'about'}" %></li>
          <!--<li><a href="about-us.html" class="active"><span>about</span></a></li>-->
          <!--<li><a href="articles.html"><span>articles</span></a></li>-->
          <li><%= link_to raw('<span>Контакти</span>'), pages_contact_path, class: "#{ "active" if params[:controller] == 'pages' && params[:action] == 'contact'}" %></li>
          <li class="last"><%= link_to raw('<span>Наша команда</span>'), pages_team_path, class: "#{ "active" if params[:controller] == 'pages' && params[:action] == 'team'}" %></li>
          <!--<li class="last"><a href="sitemap.html"><span>sitemap</span></a></li>-->
        </ul>
      </div>
    </div>
    <div class="row-3">
      <div class="inside">
        <%= render partial: 'layouts/gallery' %>
      </div>
    </div>
  </div>


  <div id="content">
    <div class="indent">
        <div class="wrapper">
          <div class="col-1">
            <%= yield %>
          </div>
          <div class="col-2">
            <div class="box2">
              <div class="border-top">
                <div class="left-top-corner">
                  <div class="right-top-corner">
                    <div class="inner">
                      <h4><b>Останні</b> новини</h4>
                      <ul class="news">
                        <li><a href="#">Dec 12, 2013</a>
                          <p>Відтепер ми з вами online.</p>
                        </li>
                        <li><a href="#">Dec 12, 2013</a>
                          <p>На Закарпатье лавина перекрыла движение транспорта С 9 Декабря, 15:24
                            Ограничено движение для грузовых и пассажирских авто</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box3">
              <div class="right-bot-corner">
                <div class="left-bot-corner">
                  <div class="inner">
                    <h4><b>Форма</b> Входу</h4>
                    <% if current_user %>
                        <form id='login-form'>
                          <fieldset>
                            <div class="field">
                              <label>Вітаємо:</label>
                              <%= current_user.email %>
                            </div>
                            <ul>
                              <%= render "devise/shared/links" %>
                            </ul>

                          </fieldset>
                        </form>
                    <% else %>
                        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { id: 'login-form'} ) do |f| %>
                        <fieldset>
                          <div class="field">
                            <label>Email:</label>
                            <%= f.email_field :email %>
                          </div>
                          <div class="field">
                            <label>Пароль:</label>
                            <%= f.password_field :password %>
                          </div>
                          <div class="field1">
                            <label class="extra">Залишатися в системі:</label>
                            <%= f.check_box :remember_me, class: 'extra' %>
                                <a href="#" onclick="$('#login-form').submit()"><em><b>Вхід<span>Вхід</span></b></em></a>
                                </div>
                                <ul>
                                  <%= render "devise/shared/links" %>
                                </ul>
                                </fieldset>
                            <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div id="footer">
    <div class="footer-nav">
      <div class="left">
        <ul>
          <li><%= link_to 'Головна', pages_about_path %></li>
          <li><%= link_to 'Контакти', pages_contact_path %></li>
          <li class="last"><%= link_to 'Наша команда', pages_team_path %></li>
        </ul>
      </div>
    </div>
    <div class="footerlink">
      <p class="lf">Copyright &copy; 2013-2014 <a href="#">babydorych-trans.com.ua</a> - All Rights Reserved</p>
      <div style="clear:both;"></div>
    </div>
  </div>
  <script type="text/javascript"> Cufon.now(); </script>

</div>
</body>
</html>
