!!!
%html
  %head
    %title
      = t('trucking')
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    = javascript_include_tag "modernizr.custom"
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "bootstrap-business", :media => "all"
    = stylesheet_link_tag    controller_path, :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag controller_path
    = csrf_meta_tags
    %script{src: "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", type: "text/javascript"}
    %script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript"}
  %body

    %nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to root_path, class: 'navbar-brand' do
            %span{ style: "font-size: 20px;"}
              pe. Babydorych V.I.
            %span{ style: "font-size: 14px;"}
              Transport and Expedition
        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %navbar-form
                = link_to t('make_order'), new_order_path, class: 'btn btn-default navbar-btn btn-sm'
            %li
              = link_to t('tabs.home'), root_path, title: t('icons.home')
            - if current_user
              %li
                = link_to t('icons.admin'), admin_path, title: t('icons.admin') if current_user.admin?
              %li
                = link_to t('icons.profile'), edit_user_registration_path, title: t('icons.profile')
              %li
                = link_to t('icons.orders'), orders_path, title: t('icons.orders')
              %li
                = link_to t('icons.logout'), destroy_user_session_path, method: :delete, title: t('icons.logout')
            - else
              %li
                = link_to t('devise.enter'), new_user_session_path, title: t('icons.login')
            %li
              = locale_select id: 'countries', locales: application_languages

    %div{ style: "max-width: 1200px; margin: 0 auto"}
      = yield

    %footer
      .container
        .row
          .col-lg-6
            Copyright © 2013-2014
            %a{href: "#"} babydorych-trans.com.ua
            \- All Rights Reserved
          .col-lg-6.text-right
            +38(0312)65-55-56
            &nbsp;
            info@babydorych-trans.com.ua
      -#
      -#
      -#
      -#- if flash[:message]
      -#  .alert.alert-info.text-center
      -#    = flash[:message]
      -#- if flash[:error]
      -#  .alert.alert-error.text-center
      -#    = flash[:error]
      -#- if flash[:success]
      -#  .alert.alert-info.text-center
      -#    = flash[:success]
      -#- if flash[:notice]
      -#  .alert.alert-info.text-center
      -#    = flash[:notice]
      -#
      -#    %p.lf
      -#      Copyright © 2013-2014
      -#      %a{href: "#"} babydorych-trans.com.ua
      -#      \- All Rights Reserved
      -#    %p.rf
      -#      %i.icon-phone
      -#      +38(0312)65-55-56
      -#      &nbsp;
      -#      %i.icon-envelope
      -#      info@babydorych-trans.com.ua
      -#    %div{style: "clear:both;"}