!!!
%html
  %head
    %title
      = t('trucking')
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    = javascript_include_tag "modernizr.custom"
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "bootstrap-business", :media => "all"
    = stylesheet_link_tag    controller_path, :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag controller_path
    = csrf_meta_tags
    %script{src: "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", type: "text/javascript"}
    %script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript"}
  %body

    %nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to root_path, class: 'navbar-brand' do
            BABYDORYCH-TRANS.COM.UA
        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to t('tabs.home'), root_path, title: t('icons.home')
            - if current_user
              %li
                = link_to t('icons.admin'), admin_path, title: t('icons.admin') if current_user.admin?
              %li
                = link_to t('icons.profile'), edit_user_registration_path, title: t('icons.profile')
              %li
                = link_to t('icons.orders'), orders_path, title: t('icons.orders')
              %li
                = link_to t('icons.logout'), destroy_user_session_path, method: :delete, title: t('icons.logout')
            - else
              %li
                = link_to t('devise.enter'), new_user_session_path, title: t('icons.login')
            = locale_select id: 'countries', locales: application_languages

    #myCarousel.carousel.slide
      / Indicators
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
      / Wrapper for slides
      .carousel-inner
        - Admin::GalleryItem.all.each_with_index do |item, i|
          .item{ class: "#{ 'active' if i == 0 }"}
            .fill{ style: "background-image: url(#{ item.image.url })"}
            .carousel-caption
              %h1
                = item.text

      %a.left.carousel-control{"data-slide" => "prev", href: "#myCarousel"}
        %span.icon-prev
      %a.right.carousel-control{"data-slide" => "next", href: "#myCarousel"}
        %span.icon-next

    = yield

    %footer
      .container
        .row
          .col-lg-2
            %h4
              %i.icon-star.icon-white
              Products
            %nav
              %ul.quick-links
                %li
                  %a{href: "product.html"} Product1
                %li
                  %a{href: "product.html"} Product2
                %li
                  %a{href: "product.html"} Product3
                %li
                  %a{href: "all_products.html"} All products
            %h4
              %i.icon-cogs.icon-white
              Services
            %nav
              %ul.quick-links
                %li
                  %a{href: "service.html"} Service1
                %li
                  %a{href: "service.html"} Service2
                %li
                  %a{href: "service.html"} Service3
                %li
                  %a{href: "all_services.html"} All services
          .col-lg-2
            %h4
              %i.icon-beaker.icon-white
              About
            %nav
              %ul.quick-links
                %li
                  %a{href: "our_works.html"} Our works
                %li
                  %a{href: "patnerships.html"} Patnerships
                %li
                  %a{href: "leadership.html"} Leadership
                %li
                  %a{href: "news.html"} News
                %li
                  %a{href: "events.html"} Events
                %li
                  %a{href: "blog.html"} Blog
                %ul
          .col-lg-2
            %h4
              %i.icon-thumbs-up.icon-white
              Support
            %nav
              %ul.quick-links
                %li
                  %a{href: "faq.html"} FAQ
                %li
                  %a{href: "contact_us.html"} Contact us
            %h4
              %i.icon-legal.icon-white
              Legal
            %nav
              %ul.quick-links
                %li
                  %a{href: "#"} License
                %li
                  %a{href: "#"} Terms of Use
                %li
                  %a{href: "#"} Privacy Policy
                %li
                  %a{href: "#"} Security
          .col-lg-3
            %h4 Get in touch
            .social-icons-row
              %a{href: "#"}
                %i.icon-twitter
              %a{href: "#"}
                %i.icon-facebook
              %a{href: "#"}
                %i.icon-linkedin
            .social-icons-row
              %a{href: "#"}
                %i.icon-google-plus
              %a{href: "#"}
                %i.icon-github
              %a{href: "mailto:soundar.rathinasamy@gmail.com"}
                %i.icon-envelope
            .social-icons-row
              %i.icon-phone.icon-large.phone-number
              +919750227877
          .col-lg-3
            %h4 Get updated by email
            %form
              %input{name: "email", placeholder: "Email address", type: "text"}/
              %input.btn.btn-primary{type: "submit", value: "Subscribe"}/
      %hr.footer-divider/
      .container
        %p
          © 2012-3000 Bootbusiness, Inc. All Rights Reserved.